<ion-header>
  <ion-toolbar>
    <ion-title>Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="modal">
      <!-- Formulario -->
      <form class="form" #paymentForm="ngForm" (ngSubmit)="onSubmit(paymentForm)">
        <!-- Tipo de tarjeta -->
        <div class="form-group">
          <label class="field-label" for="cardType">Tipo de Tarjeta</label>
          <ion-item>
            <ion-select name="cardType" ngModel #cardType="ngModel" required>
              <ion-select-option value="credit">Crédito</ion-select-option>
              <ion-select-option value="debit">Débito</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="cardType.invalid && cardType.touched">
            <small class="error-message">Debe seleccionar un tipo de tarjeta.</small>
          </div>
        </div>

        <!-- Nombre del titular -->
        <div class="form-group">
          <label class="field-label" for="cardHolder">Nombre Titular</label>
          <ion-item>
            <ion-input
              id="cardHolder"
              type="text"
              name="cardHolder"
              placeholder="Nombre Completo"
              ngModel
              #cardHolder="ngModel"
              [(ngModel)]="nombreTitular"
              required
            ></ion-input>
          </ion-item>
          <div *ngIf="cardHolder.invalid && cardHolder.touched">
            <small class="error-message">Debe ingresar el nombre del titular.</small>
          </div>
        </div>

        <!-- Número de tarjeta -->
        <div class="form-group">
          <label class="field-label" for="cardNumber">Número de Tarjeta</label>
          <ion-item>
            <ion-input
              id="cardNumber"
              type="text"
              name="cardNumber"
              placeholder="0000 0000 0000 0000"
              [(ngModel)]="formattedCardNumber"
              (input)="formatCardNumber($event)"
              maxlength="19"
              required
              #cardNumber="ngModel"
            ></ion-input>
          </ion-item>
          <div *ngIf="!isCardNumberValid">
            <small class="error-message">
              El número de tarjeta debe contener 16 dígitos.
            </small>
          </div>
        </div>

        <!-- Fecha de expiración -->
        <div class="form-group">
          <label class="field-label" for="expiryDate">Fecha Expiración</label>
          <ion-item>
            <ion-input
              id="expiryDate"
              type="text"
              name="expiryDate"
              placeholder="MM/AA"
              [(ngModel)]="formattedExpiryDate"
              (input)="formatExpiryDate($event)"
              maxlength="5"
              required
              #expiryDate="ngModel"
            ></ion-input>
          </ion-item>
          <div *ngIf="!isExpiryDateValid">
            <small class="error-message">La fecha de expiración debe tener el formato MM/AA.</small>
          </div>
        </div>

        <!-- CVV -->
        <div class="form-group">
          <label class="field-label" for="cvv">CVV</label>
          <ion-item>
            <ion-input
              id="cvv"
              type="password"
              name="cvv"
              placeholder="CVV"
              [(ngModel)]="cvv"
              required
              maxlength="3"
              (input)="limitCvv($event)"
            ></ion-input>
          </ion-item>
          <div *ngIf="cvv && cvv.length !== 3">
            <small class="error-message">El CVV debe tener exactamente 3 dígitos.</small>
          </div>
        </div>


        <!-- Botón de pago -->
        <div>
          <ion-button
            expand="block"
            type="submit"
            color="dark"
            [disabled]="paymentForm.invalid || !isCardNumberValid || !isCvvValid"
          >
            Pagar
          </ion-button>
          <div *ngIf="paymentForm.invalid || !isCardNumberValid || !isCvvValid" class="error-container">
            <small *ngIf="paymentForm.invalid">Por favor, complete todos los campos obligatorios.</small>
            <small *ngIf="!isCardNumberValid">El número de tarjeta debe contener 16 dígitos.</small>
            <small *ngIf="!isCvvValid">El CVV debe tener exactamente 3 dígitos.</small>
          </div>
        </div>


        <!-- Enlace para cancelar -->
        <p class="cancelar-pago">
          <span class="cancelar-pago-link" [routerLink]="['/carrito']">Cancelar</span>
        </p>
      </form>
    </div>
  </div>
</ion-content>
