<ion-content>
  <div class="container">
    <div class="profile-container" *ngIf="usuario">
      <div class="profile-picture">
        <img *ngIf="usuario.imagen; else noImage" [src]="usuario.imagen" alt="Perfil" />
        <ng-template #noImage>
          <span>No hay imagen de perfil disponible</span>
        </ng-template>
      </div>
      <div class="profile-info">
        <div class="info-item">
          <strong>Nombre:</strong>
          <p>{{ usuario.nombre }} {{ usuario.apellido }}</p>
        </div>
        <div class="info-item">
          <strong>Correo:</strong>
          <input type="email" [(ngModel)]="usuario.correo" placeholder="Ingrese su correo" />
          <div *ngIf="usuario.correo && !validarCorreo(usuario.correo)" class="error-message">
            El correo debe ser un correo de Gmail que termine en &#64;gmail.com.
          </div>
        </div>
        <div class="info-item">
          <strong>Teléfono:</strong>
          <input type="tel" [(ngModel)]="usuario.telefono" placeholder="Ingrese su teléfono" />
          <div *ngIf="usuario.telefono && !validarTelefono(usuario.telefono)" class="error-message">
            El teléfono debe tener exactamente 9 dígitos y solo contener números.
          </div>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="button" (click)="guardarCambios()">
          Guardar Cambios
        </button>
        <button type="button" class="button" (click)="volver()">
          Volver
        </button>
      </div>
    </div>
  </div>
</ion-content>
