.card {
    width: 190px;
    height: auto;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ion-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

ion-card-subtitle {
    font-size: 14px;
    color: #666;
    text-align: center;
}

ion-card-content {
    padding: 10px 0;
    width: 100%;
}

.button-group {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

ion-toolbar {
    --background-color: black !important;
}
.no-boletas-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta esto si necesitas un tamaño específico */
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 16px;
}