.boleta-container {
    padding: 16px;
}

.boleta-title {
    text-align: center;
    margin-bottom: 16px;
}

.detalle-ventas {
    max-height: 400px; /* Limitar altura de la lista */
    max-width: 100%;
    overflow-y: auto; /* Scroll si hay muchos ítems */
}

.total-container {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #ccc; /* Línea separadora */
    padding-top: 10px;
}

.usuario-info {
    margin-bottom: 20px; /* Separación entre la info del usuario y los detalles de la boleta */
  }
  
  .usuario-info h2 {
    font-size: 20px; /* Tamaño del título del usuario */
  }
  
  .usuario-info p {
    font-size: 16px; /* Tamaño del texto para el número y correo */
    color: #555; /* Color del texto, más tenue */
  }



.volver-container {
    margin-top: 3rem; /* Espaciado de 10 rem arriba */
    padding: 16px; /* Espaciado interno opcional */
}

.volver-container ion-button {
    --border-radius: 20px; /* Ajustar el radio de borde para bordes redondeados */
    --background: #3880ff; /* Color de fondo del botón */
    --color: white; /* Color del texto del botón */
}