<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Más Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo">

    <ion-card-header>
      <ion-card-title><strong>KickSport</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Condiciones Generales de Uso</h2>
      <div *ngFor="let termino of terminos">
        <strong>{{ termino.titulo }}</strong>:<br>
        {{ termino.descripcion }}<br><br>
      </div>
    </ion-card-content>

    <ion-button expand="block" color="dark" [routerLink]="['/masdetalles']">Más detalles</ion-button>
  </ion-card>
</ion-content>