<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Más Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo">
    
    <ion-card-header>
      <ion-card-title><strong>KickSport</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Condiciones Generales de Uso</h2>
      <p>
        1. **Aceptación de Términos:**<br>
        Al utilizar la aplicación, el usuario acepta estos términos y condiciones. Si no está de acuerdo, debe abstenerse de utilizar la aplicación.
      </p>
      <p>
        2. **Cambios en los Términos:**<br>
        Nos reservamos el derecho a modificar estos términos en cualquier momento. Los cambios serán efectivos una vez publicados en la aplicación.
      </p>
      <p>
        3. **Responsabilidad del Usuario:**<br>
        El usuario es responsable de la exactitud de la información proporcionada y de mantener la confidencialidad de sus credenciales de acceso.
      </p>
      <h2>Política de Compras</h2>
      <p>
        1. **Disponibilidad de Productos:**<br>
        La disponibilidad de productos está sujeta a cambios sin previo aviso. En caso de que un producto no esté disponible después de realizar un pedido, se informará al usuario y se ofrecerá una solución adecuada (reembolso, cambio, etc.).
      </p>
      <p>
        2. **Precios:**<br>
        Todos los precios están en la moneda especificada y son correctos al momento de la publicación. Nos reservamos el derecho a cambiar los precios en cualquier momento.
      </p>
      <p>
        3. **Métodos de Pago:**<br>
        Aceptamos varios métodos de pago. El pago se realiza a través de plataformas seguras. La información de pago del usuario se maneja de acuerdo con las leyes de protección de datos.
      </p>
      <p>
        4. **Confirmación de Pedido:**<br>
        Una vez realizado un pedido, se enviará una confirmación por correo electrónico. El pedido se procesará una vez confirmado el pago.
      </p>
      <h2>Política de Devoluciones y Reembolsos</h2>
      <p>
        1. **Devoluciones:**<br>
        Los productos pueden ser devueltos dentro de un plazo específico (por ejemplo, 14 días) si están en su estado original y sin usar. Los gastos de envío de la devolución corren por cuenta del cliente, salvo en casos de productos defectuosos.
      </p>
      <p>
        2. **Reembolsos:**<br>
        Los reembolsos se procesarán una vez que recibamos y revisemos el producto devuelto. El reembolso se realizará a través del método de pago original.
      </p>
      <p>
        3. **Productos Defectuosos:**<br>
        En caso de recibir un producto defectuoso o dañado, el cliente debe contactarnos dentro de un plazo específico para solicitar un reemplazo o reembolso.
      </p>
      <h2>Política de Privacidad</h2>
      <p>
        1. **Recopilación de Datos:**<br>
        Recopilamos información personal para procesar pedidos y mejorar la experiencia del usuario. La información se maneja de acuerdo con la legislación de protección de datos aplicable.
      </p>
      <p>
        2. **Uso de Datos:**<br>
        La información recopilada se utiliza para fines relacionados con la operación de la aplicación, como el procesamiento de pedidos, la comunicación con el usuario y la mejora de nuestros servicios.
      </p>
      <p>
        3. **Protección de Datos:**<br>
        Implementamos medidas de seguridad para proteger la información personal del usuario. Sin embargo, no podemos garantizar la seguridad absoluta de la información transmitida a través de Internet.
      </p>
      <h2>Condiciones de Entrega</h2>
      <p>
        1. **Tiempos de Entrega:**<br>
        Los tiempos de entrega son estimaciones y pueden variar según la ubicación del cliente y la disponibilidad del producto. No somos responsables de los retrasos en la entrega causados por terceros.
      </p>
      <p>
        2. **Costos de Envío:**<br>
        Los costos de envío se calcularán en el momento de la compra y se mostrarán antes de completar el pedido.
      </p>
      <h2>Limitación de Responsabilidad</h2>
      <p>
        1. **Exactitud de la Información:**<br>
        Hacemos todo lo posible por garantizar que la información de la aplicación sea precisa y esté actualizada. Sin embargo, no nos hacemos responsables de errores o inexactitudes.
      </p>
      <p>
        2. **Uso de la Aplicación:**<br>
        La aplicación se proporciona "tal cual" y no garantizamos que esté libre de errores o interrupciones. No somos responsables de ningún daño que pueda resultar del uso de la aplicación.
      </p>
      <h2>Ley Aplicable</h2>
      <p>
        1. **Jurisdicción:**<br>
        Estos términos y condiciones se rigen por las leyes del país en el que se opera la aplicación. Cualquier disputa será resuelta en los tribunales competentes de dicha jurisdicción.
      </p>
    </ion-card-content>

    <br>
    <br>
    <ion-button expand="block" color="dark" [routerLink]="['/masdetalles']">Más detalles</ion-button>
    <br>
    <br>
  </ion-card>
</ion-content>