<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Más detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">







  <ion-card>
    <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo"> 

    <ion-card-header>
      <ion-card-title><strong>KickSport</strong></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      KickSport es tu compañero perfecto para encontrar las mejores zapatillas deportivas. Diseñada para atletas, entusiastas del deporte y amantes del calzado, KickSport te ofrece una experiencia de compra inigualable con una amplia gama de marcas líderes como Nike, Adidas, Puma, y más.
      <br>
      <br>
      <ion-card-title><strong>Características principales</strong></ion-card-title>

      KickSport nació de una simple idea: transformar la manera en que las personas compran zapatillas deportivas. 
      La historia comienza con Sebastián Guajardo y Benjamín Camus, dos apasionados del deporte y el calzado, 
      quienes notaron una brecha en el mercado. A pesar de la abundancia de tiendas físicas y en línea, encontraron 
      que la experiencia de compra para zapatillas deportivas era a menudo confusa y poco satisfactoria. La falta de opciones 
      bien organizadas y la dificultad para encontrar el par perfecto les inspiraron a hacer algo al respecto.

      En 2024, Sebastián y Benjamín decidieron unir fuerzas con un grupo de desarrolladores y diseñadores de UX para 
      crear una solución innovadora. Su objetivo era diseñar una plataforma que no solo ofreciera una amplia selección de zapatillas, 
      sino que también brindara una experiencia de usuario excepcional. Después de meses de investigación y desarrollo, lanzaron KickSport.

      La primera versión de KickSport se centraba en simplificar la búsqueda de zapatillas al ofrecer una interfaz intuitiva y fácil de usar. 
      Sebastián y Benjamín se aseguraron de que cada detalle de la app estuviera orientado a facilitar la compra, desde la navegación hasta el 
      proceso de pago. Querían que los usuarios pudieran encontrar rápidamente lo que necesitaban sin complicaciones.

      KickSport pronto se convirtió en un éxito, atrayendo a entusiastas del deporte y compradores de todo el mundo. La app se destacó por su 
      capacidad para ofrecer una experiencia de compra fluida y eficiente, y por la atención al detalle en cada aspecto del diseño.

      Con el tiempo, KickSport ha evolucionado para incluir características adicionales basadas en los comentarios de los usuarios y las tendencias 
      del mercado. Sin embargo, su misión original sigue siendo la misma: proporcionar una plataforma donde cada amante del calzado deportivo pueda encontrar 
      fácilmente el par perfecto para sus necesidades y estilo.

      Hoy en día, KickSport es sinónimo de calidad y simplicidad en el mundo del calzado deportivo, y continúa creciendo, siempre con el objetivo de 
      mejorar la experiencia de compra para sus usuarios.
    </ion-card-content>
    <br>

    <ion-button expand="block" color="dark" [routerLink]="['/informacion']">Volver</ion-button>
    <br>
    <br>
    <br>
    <br>
  </ion-card>

</ion-content>
