<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Condiciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo">
    
    <ion-card-header>
      <ion-card-title><strong>KickSport</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Condiciones Generales de Uso</h2>
      <p>
        1. **Aceptación de Términos:**<br>

      </p>
      <p>
        2. **Cambios en los Términos:**<br>
      </p>
      <p>
        3. **Responsabilidad del Usuario:**<br>
      </p>
      <h2>Política de Compras</h2>
      <p>
        1. **Disponibilidad de Productos:**<br>
      </p>
      <p>
        2. **Precios:**<br>
      </p>
      <p>
        3. **Métodos de Pago:**<br>
      </p>
      <p>
        4. **Confirmación de Pedido:**<br>
      </p>
      <h2>Política de Devoluciones y Reembolsos</h2>
      <p>
        1. **Devoluciones:**<br>
      </p>
      <p>
        2. **Reembolsos:**<br>
      </p>
      <p>
        3. **Productos Defectuosos:**<br>
      </p>
      <h2>Política de Privacidad</h2>
      <p>
        1. **Recopilación de Datos:**<br>
      </p>
      <p>
        2. **Uso de Datos:**<br>
      </p>
      <p>
        3. **Protección de Datos:**<br>
      </p>
      <h2>Condiciones de Entrega</h2>
      <p>
        1. **Tiempos de Entrega:**<br>
      </p>
      <p>
        2. **Costos de Envío:**<br>
      </p>
      <h2>Limitación de Responsabilidad</h2>
      <p>
        1. **Exactitud de la Información:**<br>
      </p>
      <p>
        2. **Uso de la Aplicación:**<br>
      </p>
      <h2>Ley Aplicable</h2>
      <p>
        1. **Jurisdicción:**<br>
      </p>
    </ion-card-content>

    <br>
    <br>
    <ion-button expand="block" color="dark" [routerLink]="['/mascondiciones']">Más detalles</ion-button>
    <br>
    <br>
    <br>
  </ion-card>
</ion-content>