<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eliminar</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: white;" [fullscreen]="true">
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-md="4" *ngFor="let zapatilla of arregloZapatillas" class="card-column">
          <ion-card class="card">
            <img [alt]="zapatilla.nombre" [src]="getImageUrl(zapatilla.imagen_url)" (error)="setDefaultImage($event)"/>
            <ion-card-header>
              <ion-card-title>{{ zapatilla.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ zapatilla.precio | currency: 'USD': true }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="button-group">
                <ion-button shape="round" color="danger" (click)="eliminar(zapatilla)">Eliminar</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>