<ion-header [translucent]="true"  >
  <ion-toolbar style="--background: black;">
    <ion-buttons slot="start">

    </ion-buttons>
    <div class="container-input-logo">
      <div class="container-logo">
        <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo" class="logo-app"> 
      </div>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content scroll-y="false" class="no-scroll-content" >
  <div class="container">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Registro</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre"
              [(ngModel)]="nombre"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input label="Apellido" labelPlacement="floating" placeholder="Ingrese su apellido"
              [(ngModel)]="apellido"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input label="Número" labelPlacement="floating" placeholder="Ingrese su teléfono"
              [(ngModel)]="numero"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input label="Correo electrónico" labelPlacement="floating" placeholder="Ingrese correo electrónico"
              type="email" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña" type="password"
              [(ngModel)]="contra"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" (click)="irLogin()" class="submit-button" class="aceptar">Aceptar</ion-button>
          <br>
          <div class="links-container">
            <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
