<ion-content scroll-y="false" class="no-scroll-content">
  <div class="container">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Registro</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-input 
              placeholder="Ingrese su nombre" 
              [(ngModel)]="nombre" 
              required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input 
              placeholder="Ingrese su apellido" 
              [(ngModel)]="apellido" 
              required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input 
              placeholder="Ingrese correo electrónico" 
              [(ngModel)]="correo" 
              type="email" 
              required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input 
              placeholder="Ingrese su teléfono" 
              [(ngModel)]="telefono" 
              type="tel" 
              required>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input 
              placeholder="Ingrese su contraseña" 
              [(ngModel)]="contrasena" 
              type="password" 
              required>
            </ion-input>
          </ion-item>

          <div class="photo-button-container">
            <ion-button class="take-photo-button" (click)="takePicture()">Tomar Foto</ion-button>
          </div>
          
          <img *ngIf="imagen" [src]="imagen" alt="Sin foto" style="width: 120px;height: 120px;border-radius: 50%;overflow: hidden;margin: 20px auto; display: block;"/>

          <ion-button expand="block" color="dark" (click)="irLogin()" class="submit-button">Aceptar</ion-button>

          <br>

          <div class="links-container ion-text-center">
            <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
