/* Contenedor principal */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  background: radial-gradient(circle, #121212 30%, #1a1a1a 50%);
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 60px;
  }
}

/* Título del formulario */
.form-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

/* Contenedor deslizable */
.scrollable-card-container {
  flex: 1;
  max-height: 60vh; /* Limita la altura para el scroll */
  overflow-y: auto; /* Permite desplazamiento vertical */
  padding: 16px;
  width: 100%;
}

/* Estilos de la tarjeta */
ion-card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ion-card-content {
  padding: 16px;
}

/* Estilos de los botones */
ion-button {
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 7px 20px;
  font-weight: bold;
}

.submit-button {
  margin-top: 20px;
  border-radius: 25px;
  width: 100%;
  max-width: 250px;
  --background: #000000;
  color: white;
  font-weight: bold;
}

/* Botón de tomar foto */
.take-photo-button {
  width: 100%;
  max-width: 250px;
  --background: #000000;
  color: white;
  border-radius: 25px;
  padding: 10px;
}

/* Estilos de los elementos */
ion-item {
  --background: transparent !important;
  --border-color: #114B5F;
  border-radius: 25px;
  margin-bottom: 1rem;
  border: 1px solid #c0c0c0; /* Bordes sutiles */
  min-height: 60px; /* Altura mínima */
}

ion-input {
  --background: white !important;
  color: #4b4b4b;
  padding-left: 8px;
}

/* Estilo de la foto de perfil */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  display: block;
}

/* Contenedor de enlaces */
.links-container {
  margin-top: 10px;
  text-align: center;
}

.links-container a {
  color: #3880ff;
  text-decoration: none;
}

.links-container a:hover {
  text-decoration: underline;
}
