.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que los elementos se alineen al inicio */
  align-items: center;
  padding: 20px;
  overflow: hidden; /* Oculta cualquier desbordamiento */
  flex: 1; /* Permite que el contenedor ocupe el espacio restante */
}

.empty-cart-message {
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(-50%);
}

.empty-cart-message ion-icon {
  font-size: 48px;
  color: #000000;
  margin-bottom: 10px;
}

.empty-cart-message p {
  font-size: 18px;
  color: #000000;
}

.productos-list {
  width: 100%;
  max-width: 500px; /* Aumenta el ancho de la lista para no cortar las imágenes */
  margin-top: 3rem;
  margin-bottom: 14rem;
  flex: 1; /* Permite que la lista ocupe el espacio disponible */
  overflow-y: auto; /* Permite scroll para los productos */
  border: 1px solid black; /* Añadir borde negro */
  border-radius: 5px; /* Añadir un borde redondeado, opcional */
  padding: 10px; /* Espacio interno para que el contenido no esté pegado al borde */
}

.producto-item {
  display: flex; /* Mostrar los productos horizontalmente */
  justify-content: space-between; /* Espacio entre la info del producto y la cantidad */
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.producto-info {
  flex: 1; /* Permite que la información del producto ocupe el espacio restante */
}

.cantidad-container {
  display: flex;
  align-items: center; /* Alinear verticalmente los botones */
}

.cantidad-container button {
  margin: 0 5px; /* Espacio entre los botones y el contador */
}

.total-price {
  font-size: 22px;
  margin: 10px 0; /* Separación del precio total */
  font-weight: bold;
  position: absolute; /* Fija la posición en la parte inferior */
  bottom: 150px; /* Ajusta la distancia desde la parte inferior para que esté arriba de los botones */
  left: 50%;
  transform: translateX(-50%); /* Centra el precio total */
}

.button-container {
  position: absolute; /* Asegura que los botones se superpongan */
  bottom: 70px; /* Ajusta este valor si es necesario */
  left: 0;
  right: 0;
  max-width: 480px; /* Asegura el tamaño de los botones */
  display: flex;
  justify-content: space-between;
  margin: 0 20px; /* Margen lateral */
}

.vaciar-carrito-btn {
  flex: 1;
  margin-right: 5px;
  background-color: #ff4d4d;
  color: white;
  border: 1px solid #ff4d4d;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.3s ease;
}

.finalizar-compra-btn {
  flex: 1;
  margin-left: 5px;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.3s ease;
}

.vaciar-carrito-btn:hover {
  background-color: #ff6666;
}

.finalizar-compra-btn:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

.producto-imagen {
  width: 80px; /* Ajusta el tamaño según lo necesites */
  height: 80px; /* Ajusta el tamaño según lo necesites */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  margin-right: 10px; /* Espacio entre la imagen y la info del producto */
}
