<ion-content class="ion-padding">
  <form class="add-product-form" (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
    <br>
    <br>
    <br>
    <br>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <br>
      <ion-textarea placeholder="Ingrese la descripción" [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <br>
      <ion-input placeholder="Ej: (1='niño'/2='niña'/3='hombre'/4='mujer')" [(ngModel)]="id_categoria" name="id_categoria" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <br>
      <ion-input placeholder="Ingrese la marca (ej. 1 / 2 / 3 / 4 / 5)" [(ngModel)]="id_marca" name="id_marca" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <br>
      <ion-input placeholder="Ingrese el nombre del producto" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <br>
      <ion-input type="number" placeholder="Ingrese el precio" [(ngModel)]="precio" name="precio" required></ion-input>
    </ion-item>
    
    <ion-item *ngIf="imagen_url"> 
      <ion-label position="floating">Imagen (URL)</ion-label>
      <ion-input placeholder="Ingrese la URL de la imagen" [(ngModel)]="imagen_url" name="imagen_url" required></ion-input>
    </ion-item>

    <ion-item>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>
    
    <div class="button-container">
      <ion-button expand="full" shape="round" color="dark" type="submit">Guardar</ion-button>
      <ion-button expand="full" shape="round" color="dark" [routerLink]="'/adminproductos'">Volver</ion-button>
    </div>

    <ion-toast *ngIf="showError" message="Todos los campos son obligatorios" color="danger" duration="2000"></ion-toast>
  </form>
</ion-content>