.add-product-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px; /* Asegura espacio para los botones al final */
}

ion-item {
  margin-bottom: 15px;
}

.button-container {
  padding: 10px; /* Espacio alrededor de los botones */
  background-color: white; /* Color de fondo para que sea visible */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

ion-button {
  --border-radius: 8px;
}

/* Estilo para permitir el desplazamiento */
ion-content {
  overflow-y: auto; /* Permite el desplazamiento vertical */
  --padding-bottom: 100px; /* Asegura que el contenido no esté cubierto por los botones */
}