.add-product-form {
  display: flex;
  flex-direction: column;
}

ion-item {
  margin-bottom: 15px;
}

.button-container {
  padding: 10px;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

ion-button {
  --border-radius: 8px;
  margin-top: 10px;
}

/* Asegura que el contenido de la tarjeta sea desplazable */
.scrollable-content {
  max-height: 60vh; /* Ajusta la altura de la tarjeta */
  overflow-y: auto; /* Permite el desplazamiento dentro de la tarjeta */
}

ion-content {
  --padding-bottom: 20px;
}