<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Zapatilla</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" class="no-scroll-content">
  <div class="container">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">EDITAR</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">      

            <h2>Descripción</h2>
            <div class="form-group">
              <ion-item lines="none">
                <ion-textarea placeholder="Descripción de la zapatilla" [(ngModel)]="zapatilla.descripcion" name="descripcion" required></ion-textarea>
              </ion-item>
            </div>
            
            <h2>Precio</h2>
            <div class="form-group">
              <ion-item lines="none">
                <ion-input type="number" placeholder="Precio de la zapatilla" [(ngModel)]="zapatilla.precio" name="precio" required></ion-input>
              </ion-item>
            </div>

            <h2>Categoría</h2>
            <div class="form-group">
              <ion-item lines="none">
                <ion-input placeholder="ID de la categoría" [(ngModel)]="zapatilla.id_categoria" name="id_categoria" required></ion-input>
              </ion-item>
            </div>

            <h2>Marca</h2>
            <div class="form-group">
              <ion-item lines="none">
                <ion-input placeholder="Nombre de la marca" [(ngModel)]="nombre_marca" name="nombre_marca" required></ion-input>
              </ion-item>
            </div>

            <h2>Stock</h2>
            <div class="form-group">
              <ion-item lines="none">
                <ion-input placeholder="Stock disponible" [(ngModel)]="zapatilla.stock" name="stock" required></ion-input>
              </ion-item>
            </div>

            <ion-button expand="full" type="submit" class="aceptar">Guardar Cambios</ion-button>

            <ion-toast *ngIf="showError" message="Debe completar todos los datos del producto a modificar" color="danger" duration="2000"></ion-toast>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>