<ion-header [translucent]="true"  >
  <ion-toolbar style="--background: black;">
    <ion-buttons slot="start">

    </ion-buttons>
    <div class="container-input-logo">
      <div class="container-logo">
        <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo" class="logo-app"> 
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="image-circle">
      <img src="../assets/icon/logo2.jpeg" alt="KickSport Logo"> 
    </div>
    <h1>404</h1>
    <p>Página no encontrada</p>
    <ion-button [routerLink]="['/login']">Volver</ion-button>
  </div> 

</ion-content>